<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
	 -->
       
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
       <fileNamePattern>../demo_log/log_%d{yyyy-MM-dd}.log</fileNamePattern>
       <maxHistory>90</maxHistory>     
    </rollingPolicy>    
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</pattern>
    </encoder>
  </appender>


  <root level="INFO">
    <appender-ref ref="FILE" />
  </root> 
</configuration>